  <div class="paddingZero">
    <ion-grid class="paddingZero">
      <ion-row *ngIf="!isMatched() && !isProvider()">
        <ion-col col-7>
          <button ion-button (click)="changeToHold()" id="holdBtn">I have</button>
          <button ion-button (click)="changeToNeed()" id="needBtn" color='light'>I want</button>
        </ion-col>
        <ion-col col-5>
          <ion-row class="lineCenter">
            <ion-col col-7>
              <ion-input class="marginZero" type="number" min="10" [value]="currencyAmount" [(ngModel)]="currencyAmount" placeholder='Amount' (change)="calculateCash()"></ion-input>
            </ion-col>
            <ion-col col-5>{{ currency }}</ion-col>
          </ion-row>
        </ion-col> 
      </ion-row>

      <ion-row *ngIf="!isMatched() && !isProvider()">
        <ion-col col-10 offset-1>
          <p class="smallText textCenter"> You will use {{secondaryCurrencyAmount}} {{secondaryCurrency}} to exchange
          </p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!isMatched() && isProvider()">
        <ion-col col-10 offset-1>
          <h3 class="textCenter">
              $200 HKD --> $1520 HKD
          </h3>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="!isMatched() && isProvider()">
        <ion-col col-10 offset-1>
          <p class="smallText textCenter">
            Today's rate 1 USD to 7.6 HKD, earn~$24
          </p>
        </ion-col>
      </ion-row>

      <ion-row class='textCenter' *ngIf="!isMatched() && !isProvider()">
        <ion-col>
          <button ion-button full (click)="match()">REQUEST EXCHANGE</button>
        </ion-col>
      </ion-row>
      <!-- Show information of seller -->
      <ion-row *ngIf="isMatched() && !isAccepted() && !isDeclined() && !isFinished()">
        <ion-col col-4>
          <img class="img-circle" src="../../assets/img/seller.jpg">
        </ion-col>
        <ion-col col-8 class="textCenter verticallyCenter">
          <div>
            <p>{{holder.name}}</p>
            <p class="smallText"> {{holder.dist}} meters</p>
          </div>
          <div>
            <ion-icon name="star" class="bigfont"></ion-icon>
            <ion-icon name="star" class="bigfont"></ion-icon>
            <ion-icon name="star" class="bigfont"></ion-icon>
            <ion-icon name="star" class="bigfont"></ion-icon>
            <ion-icon name="star-half" class="bigfont"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <!-- Accept and decline the offer btn -->
      <ion-row *ngIf="isMatched() && !isAccepted() && !isDeclined() && !isFinished()">
        <ion-col col-6>
          <button ion-button color="secondary" icon-left full (click)="accept()">
            <ion-icon name="checkmark-circle"> Accept</ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button color="light" icon-left full (click)="decline()">
            <ion-icon name="close-circle"> Decline</ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <!-- msg after declining the offer, goto the starting -->
      <!-- <ion-row *ngIf="isDeclined()">
        <ion-col col-12 class="textCenter verticallyCenter">
          <p>You have declined the service. See you next time. </p>
        </ion-col>
      </ion-row> -->
      
      <!-- OR: after accepting the offer -->
      <ion-row *ngIf="isAccepted() && !isProvider()" class="textCenter">
        <ion-col col-12>
        
            <h5 class="smallText">Today: 1 USD to {{sellRate}} HKD</h5>
            <h3 class="rateFont marginZero"> 
            {{currencyAmount}} {{currency}} = {{secondaryCurrencyAmount}} {{secondaryCurrency}} 
            </h3>
          
        </ion-col>
      </ion-row>
        
      <ion-row *ngIf="isAccepted() && isProvider()" class="textCenter">
        <ion-col col-12>
        
            <h5 class="smallText">Today: 1 USD to {{sellRate}} HKD</h5>
            <h3 class="rateFont marginZero"> 
            {{currencyAmount}} {{currency}} = {{secondaryCurrencyAmount}} {{secondaryCurrency}} 
            </h3>
          
        </ion-col>
      </ion-row>


      <ion-row *ngIf="isAccepted()">
        <ion-col col-4>
          <ion-row>
            <ion-col col-12>
              <img class="img-circle" src="../../assets/img/seller.jpg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <div class="textCenter">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-8 class="textCenter verticallyCenter">
          <ion-row>
            <ion-col col-12>
              <p class="smallText"> {{holder.name}} is coming,<br>and is {{holder.dist}} meters from you</p>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col col-6>
              <ion-row>
                <ion-col col-12>
                  <ion-icon name="call" class="bigfont"></ion-icon>
                </ion-col>
                <ion-col col-12>
                  Call
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col col-6>
              <ion-row>
                <ion-col col-12>
                  <ion-icon name="chatboxes" class="bigfont"></ion-icon>
                </ion-col>
                <ion-col col-12>
                  Chat
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isAccepted()">
        <ion-col col-6 class="textCenter verticallyCenter">
          <button ion-button icon-left  (click)="finish()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            Received
          </button>
        </ion-col>
        <ion-col col-6 class="textCenter verticallyCenter">
          <button ion-button icon-left color="light" (click)="decline()">
            <ion-icon name="return-right"></ion-icon>
            Cancel
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isFinished()">
        <ion-col col-12 class="textCenter verticallyCenter">
          <p>Thank you for using EZexchange.<br> Have a nice day! </p>
          <br>
          <button ion-button icon-left color="light" (click)="decline()">
            <ion-icon name="return-right"></ion-icon>
            Return
          </button>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </div>
