footbar {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: white;
}

.paddingZero {
	padding-left: 0px;
}

.text-input-md, .text-input-ios {
	margin: 0px;
}

.bigbtn {
	text-align: center;
}

.lineCenter {
	padding-top: 12px;
}
