footbar {
    background-color: white;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
}

.paddingZero {
	padding-left: 0px;
}

.marginZero {
	margin: 0px;
}

.text-input-md, .text-input-ios {
	margin: 0px;
}

.textCenter {
	text-align: center;
}

.lineCenter {
	padding-top: 12px;
}

.img-circle {
	border-radius: 50%;
}

.verticallyCenter {
	display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-icon.bigfont {
		color: #8e8e8e;
    font-size: 1.8em;
}

.smallText {
	color: #8e8e8e;
	font-style: italic;
}

.rateFont {
	// font-size: 2em;
	color: #8e8e8e;
}
