<!-- Generated template for the CurrencyModal component -->
<div> 
    <ion-card>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <img src="assets/img/HK@3x.png" (click)="setCurrency('HKD')"/>
                <p> HKD </p>
            </ion-col>
            <ion-col col-6>
                <img src="assets/img/CN@3x.png" (click)="setCurrency('CNY')"/>
                <p> CNY </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <img src="assets/img/EU@3x.png" (click)="setCurrency('EUR')"/> 
                <p> EUR </p>
            </ion-col>
            <ion-col col-6>
                <img src="assets/img/US@3x.png" (click)="setCurrency('USD')" />
                <p> USD </p>
            </ion-col>
        </ion-row>
        <ion-row>
           <ion-col col-6>
                <img src="assets/img/JP@3x.png" (click)="setCurrency('JPY')" />
                <p> JPY </p>
            </ion-col>
            <ion-col col-6>
                <img src="assets/img/TW@3x.png" (click)="setCurrency('NTD')" />
                <p> NTD </p>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-card>
</div>
